<!DOCTYPE html>
<html data-ng-app="Swapp">
<head>
  <title>Stratford Waste App</title>
  <% if Rails.env.phonegap? || Rails.env.phonegap_staging? %>
    <% # XXX: These will have already been minified by the PhoneGap build path. %>
    <link href="css/application.css" media="all" rel="stylesheet" />
    <script src="js/application.js"></script>
    <script src="cordova.js"></script>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
  <script>
    if (navigator.app) {
      navigator.app.clearCache();
    }
  </script>

  <% if Rails.env.phonegap? || Rails.env.phonegap_staging? %>
    <% phonegapAllTemplates.each do |path, content| %>
      <script type="text/ng-template" id="<%= path %>">
       <%= raw content %>
      </script>
    <% end %>
  <% end %>

  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SWAPP</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="view" data-ng-view="">
  </div>
</body>
</html>
