<!DOCTYPE html>
<html data-ng-app="Swapp">
<head>
  <title>Stratford Waste App</title>

  <% if Rails.env.phonegap? || Rails.env.phonegap_staging? %>
    <% # XXX: These will have already been minified by the PhoneGap build path. %>
    <link href="css/application.css" media="all" rel="stylesheet" />
    <script src="js/application.js"></script>
    <script src="cordova.js"></script>
  <% else %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
  <script>
    if (navigator.app) {
      navigator.app.clearCache();
    }
  </script>

  <% if Rails.env.phonegap? || Rails.env.phonegap_staging? %>
    <% phonegapAllTemplates.each do |path, content| %>
      <script type="text/ng-template" id="<%= path %>">
       <%= raw content %>
      </script>
    <% end %>
  <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <div class="layout" data-ng-class="{'active': menuShouldShow()}">
    <div class="navbar navbar-default navbar-fixed-top" data-ng-class="{'active': menuShouldShow()}">
      <div class="container">
        <div class="navbar-header" style="position: relative;">
          <a class="navbar-brand" style="position: absolute; top: 0; left: 10px;" href="" data-ng-click="mainMenuLinkClick()"><%= fa_icon "bars" %></a>
          <a class="navbar-brand pretty" ng-if="showEdit()" style="position: absolute; top: 0; right: 10px;" href="#/edit">Edit</a>
        </div>
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top fuckme" data-ng-class="{'active': menuShouldShow()}">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': isActiveMenu(menuItem.link)}" ng-repeat="menuItem in menuItems">
          <a href="#{{ menuItem.link }}">{{ menuItem.name }}</a>
        </li>
      </ul>
    </div>

    <div id="view" data-ng-view="">
    </div>
  </div>
</body>
</html>
